#home-id {
    background-image: url("../../public/background-8.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home2 {
    background-image: url("../../public/background-9.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}