#home-id {
    background-image: url("../image/background-8.svg");
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}

#home2 {
    background-image: url("../image/background-9.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}