.leaflet-container {
    height: 100vh;
}

h1 {
    color: rgb(255, 114, 114);
    letter-spacing: 3px;
    font-weight: bold;
    margin: 2rem auto;
}

.info-control {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 8px !important;
    font: 14px/16px Arial, Helvetica, sans-serif !important;
    background: white !important;
    background: rgba(255,255,255,0.8) !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
    z-index: 1000 !important;
  }