.leaflet-container {
    height: 80vh;
    margin: 2rem auto;
}

h1 {
    color: rgb(255, 114, 114);
    letter-spacing: 3px;
    font-weight: bold;
    margin: 2rem auto;
}

.info-control {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 8px !important;
    font: 14px/16px Arial, Helvetica, sans-serif !important;
    background: white !important;
    background: rgba(255,255,255,0.8) !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
    z-index: 1000 !important;
}

.legend {

    padding: 6px 8px !important;
    line-height: 18px;
    color: #555;
    z-index: 1000 !important;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255,255,255,0.8) !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}