.link {
    text-decoration: none;
    color: orange;
    padding: 0 1rem 0 1rem;
}

.link:hover {
    color: rgb(255, 114, 114);
}

.nav {
    background-color: rgba(255, 248, 220, 0.5) !important;
    position:sticky;   
}
