.Panduan {
    padding: 2rem 0;
}

.Panduan h1 {
    color: rgb(255, 114, 114);
    letter-spacing: 3px;
}

.daftar_anak {
    color:rgb(255, 114, 114);
    font-weight: bold;
    letter-spacing: 2px;
}